<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Math Portal</title>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="stylesheet" th:href="@{css/search.css}"/>
</head>
<body>

<div class="search">
    <form class="searchbox">
        <input id="search" type="text" placeholder="Zagadnienie"/>
        <input id="submit" type="submit" value="Wyszukaj"/>
    </form>
</div>

<h1>Welcome!</h1>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

<div class="panel">

    <div class="holder">
        <div class="item"><a th:href="@{/hello}"><img th:src="@{img/some.ico}" /></a></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
    </div>

    <div class="holder">
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
    </div>

    <div class="holder">
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
    </div>

    <div class="holder">
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
        <div class="item"><img th:src="@{img/some.ico}" /></div>
    </div>

</div>

</body>
</html>